[Desktop Entry]
Type=Application
Name=Web Browser
X-MeeGo-Logical-Id=sailfish-browser-next-ap-name
X-MeeGo-Translation-Catalog=sailfish-browser-next
Icon=icon-launcher-browser
Exec=/usr/bin/sailfish-browser-next %U
Comment=Sailfish UI application
X-Maemo-Service=org.sailfishos.browsernext.ui
X-Maemo-Object-Path=/ui
X-Maemo-Method=org.sailfishos.browsernext.ui.openUrl

[X-Sailjail]
Permissions=WebView;Audio;Camera;Location;Internet;UserDirs;RemovableMedia;MediaIndexing
OrganizationName=org.sailfishos
ApplicationName=browser-next
