[Desktop Entry]
Type=Application
NoDisplay=true
Name=Captive Portal
X-MeeGo-Logical-Id=sailfish-browser-next153-ap-name
X-MeeGo-Translation-Catalog=sailfish-captiveportal-next153
Icon=icon-launcher-browser
Exec=/usr/bin/sailjail -p sailfish-captiveportal-next153.desktop /usr/bin/sailfish-captiveportal-next153 -captiveportal %U
Comment=Sailfish captive portal
X-Maemo-Service=org.sailfishos.captiveportalnext153
X-Maemo-Method=org.sailfishos.captiveportalnext153.openUrl

[X-Sailjail]
Permissions=CaptivePortal;Audio;Camera;Location;Internet;Downloads
OrganizationName=org.sailfishos
ApplicationName=captiveportal-next153
